<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      {{>header}}
      <form style="padding: 50px;">
        <input type="text" placeholder="Enter Id">
        <button>Search</button>
      </form>
      <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
    <div>
    {{>footer}}
    <script src="/js/script.js"></script>
    </div>
  </body>
</html>
